<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="expires" content="timestamp">
    <title>Expence-tracker</title>
    <script src="https://kit.fontawesome.com/5c174d451e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/htmls/styletracker.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>
    <h1 style="text-align: center;">Expense Tracker</h1>
    <a class="logout" href="/user/logout">Logout</a>
    <div class="container">
       
        <h3><%=user.name%> Your Balance</h3>
        <h1>Rs <span id="balance"><%=user.balance%></span></h1>
        
        <div class="showcase">
            <div>
                <p>INCOME</p>
                <p  style="color: green;">Rs <span id="income"><%=user.income%></span></p>
            </div>
            <div>
                <p>EXPENSE</p>
                <p  style="color: red;">Rs <span id="expence"><%=user.expence%></span></p>
            </div>
        </div>

        <div class="transaction">
            <div class="links">
                <a class="green" href="/incometransactions">Income transaction</a>
                <a class="black" href="/alltransactions">All transaction</a>
                <a class="red" href="/expencetransactions">Expence transaction</a>
            </div>

            <p>Latest Transactions</p>
            <ul class="list">
                <%const len=user.transactions.length>1?user.transactions.length-1:0 %>
                <% user.transactions.slice(len,user.transactions.length).reverse().forEach((i)=>{%>
                    <% const color=i.itemvalue<'0' ? "red":"green"%>
                    <%const colour=JSON.stringify(color)%>
                    <%if(color=="green"){%>
                        <li><strong style="display: none;"><%=i.id%></strong><%=i.itemname%><span style="color: green;">+Rs <%=i.itemvalue%></span>
                    <%}%>
                    <%if(color=="red"){%>
                        <li><strong style="display: none;"><%=i.id%></strong><%=i.itemname%><span style="color: red;">Rs <%=i.itemvalue%></span>
                    <%}%>
                <%})%>
            </ul>
        </div>

        <p>Add new transaction</p>
        <%- include ('partials/messages') %>
        <div class="form">
            <input id="text" type="text" placeholder="text" name="text">
            <input id="amount" type="number" placeholder="amount" name="amount">
            <input id="buton"  value="Add" onclick="add(this)">
        </div>
    </div>

</body>
</html>
<script src="/htmls/scripttracker.js"></script>
<script type="text/javascript"> 
    window.history.forward(); 
    function noBack() { 
        window.history.forward(); 
    } 
</script> 
